# ***operators***

***Arthmetic***

In [ ]:
# Arthmetic (+,*,/,-,floor division(//),exponent(**),reminder(%))

num1:int=10
num2:int=5
sum:int= num1 + num2
sub:int=num1 - num2
div:int=num1 / num2
multi:int=num1 * num2
print(sum)
print(sub)
print(div)
print(multi)
# floor division
print(num1 // num2)
# exponent
print(num1 ** num2)
# reminder
print(num1 % num2)

15
5
2.0
50
2
100000
0

***comparison***

In [ ]:
# comparison operatoesr (== , != , > ,< , <= , >=)

hlee:int=10
halee2:int=10
print(hlee == halee2)
print(hlee < halee2)
print(hlee > halee2)
print(hlee <= halee2)
print(hlee >= halee2)
print(hlee != halee2)

True
False
False
True
True
False

***Logical***

In [ ]:
# logical opraters
# and: sari condition true hon gi to true mile ga. warna false mile ga.
#  or: agar koi ek bhi true ho gi to hame true mile. or agar sari false hon gi to hame false mile ga
# not: ye opposite answer deta h.

print(20 > 10 and 20 < 30)
print(20 > 40 or 30 < 50)

print(num1 < num2 and num2 > 90)

True
True
False