***error***

In [ ]:
user_input=int(input("enter your number"))

for num in range(1,11):
  print(f"{user_input} x {num} ={num * user_input}")


print("the table is printed")

enter your number7
7 x 1 =7
7 x 2 =14
7 x 3 =21
7 x 4 =28
7 x 5 =35
7 x 6 =42
7 x 7 =49
7 x 8 =56
7 x 9 =63
7 x 10 =70
the table is printed

In [ ]:
user_input=int(input("enter your number"))
try:
  for num in range(1,11):
    print(f"{user_input} x {num} ={num * user_input}")
except:
  print("please provide valid input")

print("the table is printed")

enter your number100
100 x 1 =100
100 x 2 =200
100 x 3 =300
100 x 4 =400
100 x 5 =500
100 x 6 =600
100 x 7 =700
100 x 8 =800
100 x 9 =900
100 x 10 =1000
the table is printed

In [ ]:
from re import error
user_input=int(input("enter your number"))
try:
  for num in range(1,11):
    print(f"{user_input} x {num} ={num * user_input}")
except Exception as error:
  print("error")

print("the table is printed")

enter your number77
77 x 1 =77
77 x 2 =154
77 x 3 =231
77 x 4 =308
77 x 5 =385
77 x 6 =462
77 x 7 =539
77 x 8 =616
77 x 9 =693
77 x 10 =770
the table is printed

In [ ]:
# zerodivisionerror
num=[1,2,3]

try:
  result=num[4]
except ZeroDivisionError:
  print("number zero is not divisible")

please provide valid index

In [ ]:
# indexerror
try:
  result=num[4]
except IndexError:
  print("please provide valid index")

In [ ]:
# exception as error
try:
  result=num[4]
except Exception as error:
  print("error")

***local & globle variable***

In [ ]:
num = 5
num1 = 10

def addition ():
  return num + num1

addition()

15

In [ ]:
num = 5  #globle variable
print(num)
def addition ():
  num = 7  #local variable
  print(num)


addition()
print(num)

5
7
5

***set***

In [ ]:
#set
numbers = {1,4,73,84,920,293,8,39,9,0,1,2,394,348,}

print(numbers)

{0, 1, 2, 4, 293, 39, 8, 73, 9, 394, 84, 920, 348}

# method of set

add

remove

discard

pop

intersection

union

In [30]:
# add

a={"haleema","sumbul","maryam","tabasum","nawal"}
b = {1,2,3,4,5,6,7,8,9}
c = "jon"
a.add(c)
print(a)

{'maryam', 'jon', 'sumbul', 'tabasum', 'nawal', 'haleema'}

In [31]:
# union
a={"haleema","sumbul","maryam","tabasum","nawal"}
b={"arfat"}

a.union(b)

{'arfat', 'haleema', 'maryam', 'nawal', 'sumbul', 'tabasum'}

In [8]:
# intersection
a={"haleema","sumbul","maryam","tabasum","nawal"}
b={"arfat","haleema"}

a.intersection(b)

{'haleema'}

In [11]:
# remove
a={"haleema","sumbul","maryam","tabasum","nawal"}
b="tabasum"

a.remove(b)
print(a)

{'maryam', 'sumbul', 'nawal', 'haleema'}

In [27]:
# discard
a={"haleema","sumbul","maryam","tabasum","nawal"}
b="sumbul"

a.discard(b)
print(a)

{'maryam', 'tabasum', 'nawal', 'haleema'}

In [29]:
#pop
my_set = {1, 2, 3}
removed_element = my_set.pop()
print(removed_element)  # Output: Random element (e.g., 1)

1

In [25]:
#clear
my_set = {1, 2, 3}
my_set.clear()
print(my_set)  # Output: set()

set()

In [24]:
# difference
set1 = {1, 2, 3}
set2 = {3, 4, 5}
result = set1.difference(set2)
print(result)  # Output: {1, 2}

{1, 2}

In [23]:
#issubset
set1 = {1, 2}
set2 = {1, 2, 3, 4}
print(set1.issubset(set2))  # Output: True

True

In [22]:
#issuperset
set1 = {1, 2}
set2 = {1, 2, 3, 4}
print(set2.issuperset(set1))  # Output: True

True

In [21]:
# isdisjoint
set1 = {1, 2}
set2 = {1, 2, 3, 4}
set3 = {5, 6, 7}
print(set1.isdisjoint(set3))  # Output: True

True

In [20]:
# copy
set1 = {1, 2}
new_set = set1.copy()
print(new_set)  # Output: {1, 2}

{1, 2}