## ***project table of 2***

In [ ]:
# 2 ka table print karna
print("Table of 2:")
for i in range(1, 11):  # Range 1 se 10 tak
    print(f"2 x {i} = {2 * i}")

Table of 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20